.new-expense__controls {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.new-expense__control{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem 0.5rem 0;
    color: black;
}


.new-expense__control label{
    font-weight: 600;
    margin-bottom: 0.5rem;

}
.new-expense__control input{
    padding: 0.5rem;
    font-size: 18px;
    border: 2px solid #eee;
    border-radius: 6px;
    color: black;
}

.new-expense__actions{
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem 0.5rem 0;
}
.new-expense__actions button{
    padding: 1rem 1.5rem;
    border-radius: 12px;
    border: none;
    font-weight: 500;
    color: #fff;
    background-color: darkslateblue;
    margin: 0rem 0.5rem;
}
