.expense-item{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #88888844;
    padding: 0.5rem;
    margin: 1rem 0;
}
.expense-item__description{
    display: flex;
    align-items: flex-end;
    color:#fff;
    justify-content: flex-start;
    flex-direction: column;
    flex-flow: column-reverse;
    flex-wrap: nowrap;
    gap:1rem;
}

.expense-item h2{
    font-size: 2rem;
    flex:1;
    margin: 0 1rem;
}
.expense-item .expense-item__price{
    background-color: darkslateblue;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid #fff;
    display: inline;
}

@media (min-width: 580px){
    .expense-item__description{
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }
}